@font-face {
    font-family: poppinslight;
    src: url(fonts/Poppins-Light.ttf);
}
@font-face {
    font-family: poppinsbold;
    src: url(fonts/Poppins-Bold.ttf);
}

@import url('https://fonts.googleapis.com/css2?family=Gochi+Hand&family=Indie+Flower&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: poppinslight;
    scroll-behavior: smooth;
}


html{
    font-family: poppinslight;
    height: 100%;
}

body{
    background-color: #022F40;
    background-image: url(img/bodywallp.png);
    background-size: cover;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}



/*HEADER*/

header{
    background-color: #a6cdcd;
    height: 70px;
    width: 100%;
    padding: 20px;
    font-size: 18px;
}

.logo{
    padding-right: 20px;
    font-family: poppinsbold;
    font-size: larger;
    float: left;
    color: #f5f5f5;
}

.logo span{
    font-family: poppinsbold;
    color: #508f8f;
}

nav{
    float: right;
    word-spacing: 20px;
    font-size: large;
    margin-right: 10px;
}

nav ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

nav ul li{
    display: inline-block;
}

nav a{
    text-decoration: none;
    color: #f5f5f5;
    transition: all 0.5s;
}

nav a:hover{
    color: #508f8f;
    transition: all 0.3s;
}

/*FIN HEADER*/



/*INDEX*/

h5, p{
    text-shadow: 0 0 5px black;
}

section{
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
    margin-bottom: 20px;
}

.card{
    box-shadow: 0 0 15px #40727298;
    border-radius: 4px;
    padding: 15px;
    background-color: #508f8f;
    background-size: cover;
    background-position: center;
    color: whitesmoke;
    text-shadow: 0 0 5px #407272;
    width: 30%;
}

#card1{
    background-image: url(img/cat\ toy.png);
}

#card2{
    background-image: url(img/cat\ clean.png);
}

#card3{
    background-image: url(img/cat\ collar.png);
}

.card__title{
    margin-bottom: 10px;
}

.card__title, .card__desc{
    text-shadow: 0 0 5px rgb(105, 105, 105);
}

.card__btn{
    bottom: 0;
    margin-top: auto;
    display: block;
    padding: 10px;
    background-color: hsl(180, 28%, 73%);
    color: whitesmoke;
    text-decoration: none;
    border-radius: 5px;
    text-align: center;
    transition: all 0.5s;
}

.card__btn:hover{
    background-color: #508f8f;
    color: whitesmoke;
    transform: scale(1.03);
}

/*FIN INDEX*/



/*PRODUCTOS*/

.titulo{
    font-family: poppinsbold;
    font-size: 40px;
    color: whitesmoke;
    text-shadow: 5px 5px 0px #407272;
    text-align: center;
    margin-top: 27px;
}

.galeria{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(2, 240px);
    grid-gap: 15px;
    margin: 20px;
}

.item{
    margin: 0px;
    border: 5px solid #508f8f;
    background-size: cover;
    background-position: center;
    border-radius: 7px;
    transition: all 0.5s;
    box-shadow: 0 0 15px #4072725b;
}

.item1{
    background-image: url(img/limpieza.png);
    grid-column: 1/3;
    grid-row: 1/2;
}

.item2{
    background-image: url(img/juguetes.jpg);
    grid-column: 1/2;
}

.item3{
    background-image: url(img/alimento.jpg);
}

.item4{
    background-image: url(img/dressedcat.jpg);
    grid-column: 3/4;
    grid-row: -3/-1;
}

.item:hover{
    border-color: #a6cdcd;
    filter: opacity(100%);
    transform: scale(1.02);
}

/*FIN PRODUCTOS*/



/*SERVICIOS*/

.serviciosection{
    margin-bottom: 20px;
}

.card__servicios{
    width: 20%;
    height: auto;
    margin: 20px;
    padding: 0;
    text-align: center;
    border: 5px solid #a6cdcd;
    transition: all 0.5s;
}

.card__servicios:hover{
    transform: scale(1.05);
}

.card-title{
    font-size: 25px;
    margin-bottom: 15px;
    font-family: poppinsbold;
    text-shadow: 0 0 5px #407272;
}

.btn__serv{
    display: block;
    text-align: center;
    border-radius: 5px;
    padding: 5px;
    background-color: #a6cdcd;
    color: whitesmoke;
    text-decoration: none;
    text-shadow: 0 0 5px #407272;
    transition: all 0.5s;
}

.btn__serv:hover{
    transform: scale(1.05);
    color: whitesmoke;
}

/*FIN SERVICIOS*/



/*FOOTER*/

footer{
    height: 77px;
    background-color: #a6cdcd;
    color: #f5f5f5;
    text-align: center;
    text-shadow: 0 0 5px #508f8f;
    font-size: 17px;
    width: 100%;
    margin-top: auto;
    bottom: 0;
}

footer p{
    margin-top: 10px;
    margin-bottom: 0px;
}

.redes a{
    color: #f5f5f5;
    text-decoration: none;
    font-size: 20px;
    word-spacing: 5px;
    transition: all 0.5s;
}

.redes a:hover{
    color: #508f8f;
    text-shadow: none;
    transition: all 0.3s;
}

/*FIN FOOTER*/



/*MISCELANEOS*/

::-webkit-scrollbar{
    background-color: #a6cdcd;
    width: 10px;
}

::-webkit-scrollbar-thumb{
    background-color: #508f8f;
    border-radius: 2px;
}

.subir{
    background-color: #a6cdcd;
    color: #508f8f;
    height: 30px;
    width: 30px;
    text-align: center;
    position: fixed;
    right: 20px;
    bottom: 20px;
    line-height: 30px;
    border-radius: 50%;
    box-shadow: 0 0 5px#407272;
    transition: all 0.5s;
}

.subir:hover{
    background-color: #508f8f;
    color: #a6cdcd;
}

/*FIN MISCELANEOS*/


/*MEDIA QUERIES*/

@media only screen and (max-width: 1040px){
    .serviciosection{
        margin: 0px;
        margin-bottom: 20px;
        display: flex;
        flex-flow: wrap row;
    }
    
    .card__servicios{
        width: 40%;
    }
}


@media only screen and (max-width: 577px){
    header{
        display: flex;
        flex-wrap: wrap;
        height: 120px;
        align-items: center;
    }

    nav ul{
        word-spacing: 2px;
    }

    section{
        margin: 20px;
        display: flex;
        flex-flow: wrap column;
    }

    .serviciosection{
        margin: 0px;
        margin-bottom: 20px;
    }

    .card{
        margin-bottom: 20px;
        width: 100%;
    }

    .card3{
        margin-bottom: 0px;
    }
}

@media only screen and (min-width: 480px) and (max-width: 800px){
    header{
        display: flex;
        flex-wrap: wrap;
        height: 110px;
        align-items: center;
    }

    nav ul{
        margin-left: 80px;
    }

    .galeria{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(3, 180px);
        margin: 10px;
        grid-gap: 10px;
    }

    .item4{
        grid-column: 2/3;
        grid-row: -3/-1;
    }
}

@media only screen and (max-width: 744px){
    nav ul{
        margin-left: 0px;
    }
}

@media only screen and (max-width: 479px){
    header{
        display: flex;
        flex-wrap: wrap;
        height: 110px;
        align-items: center;
    }

    .galeria{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, 180px);
    }

    .item{
        grid-column: 1/2;
    }

    .item4{
        background-position: top;
        grid-row: -2/-1;
    }
}

@media only screen and (max-width: 455px){
    header{
        display: flex;
        flex-wrap: wrap;
        height: 110px;
        align-items: center;
    }

    nav ul{
        word-spacing: 2px;
    }

    section{
        margin: 20px;
        display: flex;
        flex-flow: wrap column;
    }

    .card, .card2, .card3{
        margin-bottom: 20px;
        width: 100%;
    }
}