@font-face {
    font-family: poppinslight;
    src: url(fonts/Poppins-Light.ttf);
}
@font-face {
    font-family: poppinsbold;
    src: url(fonts/Poppins-Bold.ttf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: poppinslight;
}


html{
    font-family: poppinslight;
    scroll-behavior: smooth;
    height: 100%;
}

body{
    background-image: url(img/bodywallp.png);
    background-size: cover;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}



/*HEADER*/

header{
    background-color: #a6cdcd;
    height: 70px;
    width: 100%;
    padding: 20px;
    font-size: 18px;
}

.logo{
    padding-right: 20px;
    font-family: poppinsbold;
    font-size: larger;
    float: left;
    color: #f5f5f5;
}

.logo span{
    font-family: poppinsbold;
    color: #508f8f;
}

nav{
    float: right;
    word-spacing: 5px;
    font-size: large;
}

nav ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

nav ul li{
    display: inline-block;
}

nav a{
    text-decoration: none;
    color: #f5f5f5;
    transition: all 0.5s;
}

nav a:hover{
    color: #508f8f;
    transition: all 0.3s;
}

/*FIN HEADER*/



/*INDEX*/

section{
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
    margin-bottom: 20px;
}

.card{
    border-radius: 4px;
    padding: 15px;
    background-color: #508f8f;
    background-size: cover;
    background-position: center;
    color: whitesmoke;
    text-shadow: 0 0 5px #508f8f;
    width: 30%;
    word-break: break-all
}

#card1{
    background-image: url(img/cat\ toy.png);
}

#card2{
    background-image: url(img/cat\ clean.png);
}

#card3{
    background-image: url(img/cat\ collar.png);
}

.card__title{
    margin-bottom: 10px;
}

.card__title, .card__desc{
    text-shadow: 0 0 5px rgb(105, 105, 105);
}

.card__btn{
    bottom: 0;
    margin-top: auto;
    display: block;
    padding: 10px;
    background-color: hsl(180, 28%, 73%);
    color: whitesmoke;
    text-decoration: none;
    border-radius: 5px;
    text-align: center;
    transition: all 0.5s;
}

.card__btn:hover{
    background-color: #508f8f;
    color: whitesmoke;
}

/*FIN INDEX*/



/*PRODUCTOS*/

#grids{
    margin: 0px;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 180px);
    grid-template-areas:none;
}

.item{
    margin: 0;
    padding: 0;
    border: 2px solid #a6cdcd;
    background-size: cover;
    background-position: center;
}

.limpieza{
    background-image: url(img/limpieza.jpg);
}

.juguetes{
    background-image: url(img/juguetes.jpg);
}

.alimento{
    background-image: url(img/alimento.jpg);
}

.vestimenta{
    background-image: url(img/dressedcat.jpg);
}

/*FIN PRODUCTOS*/



/*FOOTER*/

footer{
    height: 77px;
    background-color: #a6cdcd;
    color: #f5f5f5;
    text-align: center;
    text-shadow: 0 0 5px #508f8f;
    font-size: 17px;
    width: 100%;
    margin-top: auto;
    bottom: 0;
}

footer p{
    margin-top: 10px;
    margin-bottom: 0px;
}

.redes a{
    color: #f5f5f5;
    text-decoration: none;
    font-size: 20px;
    word-spacing: 5px;
    transition: all 0.5s;
}

.redes a:hover{
    color: #508f8f;
    text-shadow: none;
    transition: all 0.3s;
}

::-webkit-scrollbar{
    background-color: #a6cdcd;
    width: 10px;
}

::-webkit-scrollbar-thumb{
    background-color: #508f8f;
}

/*FIN FOOTER*/



/*MEDIA QUERIES*/

@media only screen and (max-width: 577px){
    header{
        display: flex;
        flex-wrap: wrap;
        height: 100px;
        align-items: center;
    }

    nav ul{
        word-spacing: 2px;
    }

    section{
        margin: 20px;
        display: flex;
        flex-flow: wrap column;
    }

    .card{
        margin-bottom: 20px;
        width: 100%;
    }

    .card3{
        margin-bottom: 0px;
    }
}

@media only screen and (max-width: 451px){
    header{
        display: flex;
        flex-wrap: wrap;
        height: 110px;
        align-items: center;
    }

    nav ul{
        word-spacing: 2px;
    }

    section{
        margin: 20px;
        display: flex;
        flex-flow: wrap column;
    }

    .card, .card2, .card3{
        margin-bottom: 20px;
        width: 100%;
    }
}